 <%-# this provides the variable page_title for the full_title function that is run in the layout for the application. (provides are retrived with yield(:title[the symbol name]) -%>
<% provide(:title, 'Contact') %> 
<h1>Contact</h1>
<p>
  <a href="https://github.com/dphuang2">contact page</a>
</p>
